.chat-main
  .main__header
    .main__header__leftbox
      .leftbox__title
        group
        .main__header__leftbox__messagepreview
          membername
    .main__header-rightbtn
      = link_to "#" do 
        Edit
  .chat-area
    .chat-area__username
      username
      .chat-area__created__at
        2019
    .chat-area__text
      こんにちは

  .message
    %input{type:"form",placeholder:" type a message",class:"message__textarea"}
      %label{type:"file",class:"message__picturelabel"}
        %input{type: "file",class:"message__picturelabel__uploadfile"}
          <i class="fas fa-images"></i>
    %input{type: "submit", value:"Send",class:"message__submitbtn"}