.chat-main
  .main__header
    .main__header-leftbox
      .leftbox__title
        group
        .leftbox__messagepreview
          membername
    .main__header-rightbtn
      = link_to "#" do 
        Edit
  .chat-area
    .chat-area__username
      username
      .chat-area__created__at
        2019
    .chat-area__text
      こんにちは

  .message
    %input{type:"form",placeholder:" type a message",class:"textmessage"}
      %label{type:"file",class:"picturelabel"}
        %input{type: "file",class:"uploadfile"}
          <i class="fas fa-images"></i>
    %input{type: "submit", value:"Send",class:"submitbtn"}