.side
  .side__head
    .users
      username
      .btn
        .user__postbtn 
          = link_to "#" do 
            <i class="fas fa-pen-square fa-fw"></i>
        .user__settingbtn
          = link_to "#" do 
            <i class="fas fa-cog fa-fw"></i>

  .groups
    .group__name
      groupname
      .messagepreview
        messagepreviews