.side
  .side__head
    .side__head--users
      username
      .user__btn
        .user__postbtn 
          = link_to "#" do 
            <i class="fas fa-pen-square fa-fw"></i>
        .user__settingbtn
          = link_to "#" do 
            <i class="fas fa-cog fa-fw"></i>

  .group
    .group__name
      groupname
      .messagepreview
        messagepreviews